--
-- PostgreSQL database dump
--

-- Dumped from database version 15.9 (Debian 15.9-1.pgdg120+1)
-- Dumped by pg_dump version 15.9 (Debian 15.9-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO postgres;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO postgres;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO postgres;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO postgres;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO postgres;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO postgres;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "UserName" character varying(256),
    "Email" character varying(256),
    "IsBanned" boolean NOT NULL,
    "NormalizedUserName" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL,
    "IsVerified" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO postgres;

--
-- Name: Friends; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Friends" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "FriendId" text NOT NULL
);


ALTER TABLE public."Friends" OWNER TO postgres;

--
-- Name: Friends_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Friends" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Friends_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: GameMode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GameMode" (
    "Id" integer NOT NULL,
    "Description" text NOT NULL
);


ALTER TABLE public."GameMode" OWNER TO postgres;

--
-- Name: GameMode_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."GameMode" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."GameMode_ID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Games" (
    "Id" integer NOT NULL,
    "WhitePlayerId" text NOT NULL,
    "BlackPlayerId" text NOT NULL,
    "Date" timestamp with time zone NOT NULL,
    "Result" text NOT NULL,
    "GameModeId" integer NOT NULL
);


ALTER TABLE public."Games" OWNER TO postgres;

--
-- Name: Games_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Games" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Games_ID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Moves; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Moves" (
    "Id" integer NOT NULL,
    "GameID" integer NOT NULL,
    "MoveNumber" integer NOT NULL,
    "WhiteMove" text NOT NULL,
    "BlackMove" text NOT NULL,
    "WhiteRemainingTimeMs" bigint NOT NULL,
    "BlackRemainingTimeMs" bigint NOT NULL
);


ALTER TABLE public."Moves" OWNER TO postgres;

--
-- Name: Moves_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Moves" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Moves_ID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Rankings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rankings" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL
);


ALTER TABLE public."Rankings" OWNER TO postgres;

--
-- Name: RankingsUsers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RankingsUsers" (
    "Id" integer NOT NULL,
    "UserID" text NOT NULL,
    "RankingID" integer NOT NULL,
    "Points" integer NOT NULL,
    "Position" integer NOT NULL
);


ALTER TABLE public."RankingsUsers" OWNER TO postgres;

--
-- Name: RankingsUsers_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."RankingsUsers" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."RankingsUsers_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Rankings_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Rankings" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Rankings_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
4a430787-a4a3-4645-be85-4f188d6cba8c	USER	USER	\N
00ed0968-d8db-428a-af78-44eaf5c014f2	ADMIN	ADMIN	\N
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
b7ab1260-c830-4dd0-8d06-f9058f7c3c7a	4a430787-a4a3-4645-be85-4f188d6cba8c
74cb3a07-4517-4ed3-bd49-89bd4909e11c	4a430787-a4a3-4645-be85-4f188d6cba8c
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Friends; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Friends" ("Id", "UserId", "FriendId") FROM stdin;
\.


--
-- Data for Name: GameMode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."GameMode" ("Id", "Description") FROM stdin;
\.


--
-- Data for Name: Games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Games" ("Id", "WhitePlayerId", "BlackPlayerId", "Date", "Result", "GameModeId") FROM stdin;
\.


--
-- Data for Name: Moves; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Moves" ("Id", "GameID", "MoveNumber", "WhiteMove", "BlackMove", "WhiteRemainingTimeMs", "BlackRemainingTimeMs") FROM stdin;
\.


--
-- Data for Name: Rankings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rankings" ("Id", "Name", "Description") FROM stdin;
1	Bullet	1 - 3 minute games.
2	Blitz	3 - 10 minutes games.
3	Rapid	10 - 30 minutes games.
\.


--
-- Data for Name: RankingsUsers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RankingsUsers" ("Id", "UserID", "RankingID", "Points", "Position") FROM stdin;
1	b7ab1260-c830-4dd0-8d06-f9058f7c3c7a	1	1500	1
2	b7ab1260-c830-4dd0-8d06-f9058f7c3c7a	2	1500	1
3	b7ab1260-c830-4dd0-8d06-f9058f7c3c7a	3	1500	1
4	74cb3a07-4517-4ed3-bd49-89bd4909e11c	1	1500	2
5	74cb3a07-4517-4ed3-bd49-89bd4909e11c	2	1500	2
6	74cb3a07-4517-4ed3-bd49-89bd4909e11c	3	1500	2
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20241117181905_Initial	8.0.10
20241119140733_UserChange	8.0.10
20241120114800_Modelv1	8.0.10
20241120115130_Modelv1.1	8.0.10
20241129212423_Modelv1.2	8.0.10
20241129222802_Modelv1.2.1	8.0.10
20241129224439_Modelv1.2.2	8.0.10
20241201164638_RepositoryPattern	8.0.10
20241201175142_UserRoles	8.0.10
20241203152728_Model1.4	8.0.10
20241219224755_AddRankings	8.0.10
20241220212653_RankingUpdate	8.0.10
\.


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: Friends_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Friends_Id_seq"', 1, false);


--
-- Name: GameMode_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."GameMode_ID_seq"', 1, false);


--
-- Name: Games_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Games_ID_seq"', 1, false);


--
-- Name: Moves_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Moves_ID_seq"', 1, false);


--
-- Name: RankingsUsers_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RankingsUsers_Id_seq"', 6, true);


--
-- Name: Rankings_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Rankings_Id_seq"', 3, true);


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: Friends PK_Friends; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friends"
    ADD CONSTRAINT "PK_Friends" PRIMARY KEY ("Id");


--
-- Name: GameMode PK_GameMode; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GameMode"
    ADD CONSTRAINT "PK_GameMode" PRIMARY KEY ("Id");


--
-- Name: Games PK_Games; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Games"
    ADD CONSTRAINT "PK_Games" PRIMARY KEY ("Id");


--
-- Name: Moves PK_Moves; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Moves"
    ADD CONSTRAINT "PK_Moves" PRIMARY KEY ("Id");


--
-- Name: Rankings PK_Rankings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rankings"
    ADD CONSTRAINT "PK_Rankings" PRIMARY KEY ("Id");


--
-- Name: RankingsUsers PK_RankingsUsers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RankingsUsers"
    ADD CONSTRAINT "PK_RankingsUsers" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_Friends_FriendId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Friends_FriendId" ON public."Friends" USING btree ("FriendId");


--
-- Name: IX_Friends_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Friends_UserId" ON public."Friends" USING btree ("UserId");


--
-- Name: IX_Games_BlackPlayerId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Games_BlackPlayerId" ON public."Games" USING btree ("BlackPlayerId");


--
-- Name: IX_Games_GameModeId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Games_GameModeId" ON public."Games" USING btree ("GameModeId");


--
-- Name: IX_Games_WhitePlayerId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Games_WhitePlayerId" ON public."Games" USING btree ("WhitePlayerId");


--
-- Name: IX_Moves_GameID; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Moves_GameID" ON public."Moves" USING btree ("GameID");


--
-- Name: IX_RankingsUsers_RankingID; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_RankingsUsers_RankingID" ON public."RankingsUsers" USING btree ("RankingID");


--
-- Name: IX_RankingsUsers_UserID; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_RankingsUsers_UserID" ON public."RankingsUsers" USING btree ("UserID");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Friends FK_Friends_AspNetUsers_FriendId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friends"
    ADD CONSTRAINT "FK_Friends_AspNetUsers_FriendId" FOREIGN KEY ("FriendId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Friends FK_Friends_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friends"
    ADD CONSTRAINT "FK_Friends_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Games FK_Games_AspNetUsers_BlackPlayerId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Games"
    ADD CONSTRAINT "FK_Games_AspNetUsers_BlackPlayerId" FOREIGN KEY ("BlackPlayerId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Games FK_Games_AspNetUsers_WhitePlayerId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Games"
    ADD CONSTRAINT "FK_Games_AspNetUsers_WhitePlayerId" FOREIGN KEY ("WhitePlayerId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Games FK_Games_GameMode_GameModeId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Games"
    ADD CONSTRAINT "FK_Games_GameMode_GameModeId" FOREIGN KEY ("GameModeId") REFERENCES public."GameMode"("Id") ON DELETE CASCADE;


--
-- Name: Moves FK_Moves_Games_GameID; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Moves"
    ADD CONSTRAINT "FK_Moves_Games_GameID" FOREIGN KEY ("GameID") REFERENCES public."Games"("Id") ON DELETE CASCADE;


--
-- Name: RankingsUsers FK_RankingsUsers_AspNetUsers_UserID; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RankingsUsers"
    ADD CONSTRAINT "FK_RankingsUsers_AspNetUsers_UserID" FOREIGN KEY ("UserID") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: RankingsUsers FK_RankingsUsers_Rankings_RankingID; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RankingsUsers"
    ADD CONSTRAINT "FK_RankingsUsers_Rankings_RankingID" FOREIGN KEY ("RankingID") REFERENCES public."Rankings"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

